{% extends "base.html" %}

{% block content %}

<h1>Edit a user</h1>

<form method=POST>
    <label for="">First Name</label>
    <input type="text" name=first_name placeholder="Enter a first name" value="  {{user.first_name}}">
    <br>
    <label for="">Last Name</label>
    <input type="text" name=last_name placeholder="Enter a last name" value=" {{user.last_name}}">
    <br>
    <label for="">Image URL</label>
    <input type="text" name=image_url placeholder="Provide an image of this users" value={{user.image_url}}>




    <form action="/">
        <button>Add</button>
    </form>
</form>

{% endblock %}